* {
    box-sizing: border-box;
}

.counter-round {
    border: 1px solid black;
    width: 15em;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid rgb(129, 91, 97);
    color: rgb(63, 37, 41);
 

}

.counter-round {
    --border-size: 3px;
    --border-angle: 0turn;
    --border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height:300px;
    margin-top:100px;
    

    animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 2turn;
}







.counter-round span {
    font-size: 10em;
    background: -webkit-linear-gradient(#372929, #766363, #2b1c1c, #775757);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.admin-counter {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-image: url('./kepuj1.avif');
    background-size: cover;
    background-position: left;
    height:500px;
    margin-top:-50px;
}

.counter-round p {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}